{% extends "base.html" %}
{% block content %}
    <div class="form-size w3-container w3-animate-opacity">
        <h1 id="jumboh">Register</h1>
        <form action="{{ url_for('users.register_user') }}" method="post">
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Sing up</button>
            <br>
        </form>
    </div>
{% endblock %}